<mo-header product="{{title}}">
  <p slot="left-content"></p>
  <p slot="right-content"></p>
</mo-header>

<ng-container *ngIf="weatherData.length==locLength">
  <div class="buttonDiv">
    <ng-container *ngFor=" let data of weatherData; index as i ">
      <button (click)=" locationID = i ">{{data.location.name}}</button>
    </ng-container>
  </div>

  <div class="miniScreenBtnToggle">
    <mat-form-field>
      <mat-select placeholder="Please Select A Location" class="dropdown">
        <ng-container *ngFor=" let data of weatherData; index as i ">
          <mat-option class="dropdownContent" (click)=" locationID = i ">{{data.location.name}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="centerPage">

    <ng-container *ngIf=" locationID || locationID == 0">

      <div class="timeBtns">
        <b>Select a Time</b>
        <ng-container *ngFor="let timeStep of weatherData[locationID].timeSeries; index as i ">
          <ng-container *ngIf="(weatherData[locationID].timeSeries[0].time | date:'d') == (timeStep.time | date:'d')">
            <button *ngIf="i <= 24" (click)="timeID = i">{{timeStep.time | date:'shortTime'}}</button>
          </ng-container>
        </ng-container>
      </div>

      <div class="dataDiv">
        <h1 class="restrictionsTitle">Current Optimal Restrictions</h1>

        <form #f="ngForm" (ngSubmit)="btnClick(f)" [action]="setDefaultForm(f)" class="inputForm">
          <mat-form-field>
            <input name="wind" ngModel type="number" matInput placeholder="Wind Speed" class="formValues">
            <span matSuffix> m/s</span>
          </mat-form-field>

          <mat-form-field>
            <mat-select name="rain" ngModel placeholder="Precipitation Chance" class="formValues">
              <mat-option *ngFor="let precipitationValues of formPrecipitationArr"
                          [value]="precipitationValues"
                          (click)="precipitationInput = precipitationValues">{{precipitationValues}}%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select name="vis" ngModel placeholder="Visibility" class="formValues">
              <mat-option *ngFor="let visibilityValues of formVisibilityArr"
                          [value]="visibilityValues.value"
                          (click)="visibilityInput = visibilityValues.value">{{visibilityValues.sign + visibilityValues.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button type="submit" class="btn"></button>
        </form>

        <app-weather-data [dataLocation]="weatherData[locationID].location"
                          [dataWithTime]="weatherData[locationID].timeSeries[timeID]"
                          [weatherParameters]="f.form.value">
        </app-weather-data>
      </div>
    </ng-container>
  </div>
</ng-container>
